# Environments & Virtual Envs
.venv/
venv/
env/
ENV/
tfenv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Uploads
uploads/
backend/uploads/

# Generated Reports
reports/gradcam_examples/
reports/gradcam_validation/
reports/improved_v2/

# Datasets
datasets/
skin_dataset_split/

# Models
models/
*.pth
*.pt

# Logs
*.log

# OS
.DS_Store
Thumbs.db
files.txt
structure.txt
